@page "{id:int?}"
@model Wba.StovePalace.Pages.Stoves.DetailsModel

@{
    ViewData["Title"] = "Details kachel";
}

<h1>Details kachel</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stove.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stove.Brand.BrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stove.Fuel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stove.Fuel.FuelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stove.ModelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stove.ModelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stove.Performance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stove.Performance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stove.SalesPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stove.SalesPrice)
        </dd>
    </dl>
</div>
<div>
    <div class="btn-group">
        <a asp-page="./Edit" asp-route-id="@Model.Stove.Id" class="btn  btn-warning" title="Wijzigen">
            <i class="fas fa-pencil-alt"></i>
        </a>
        <a asp-page="./Index" class="btn btn-success" title="Terug naar overzicht">
            <i class="fas fa-undo-alt"></i>
        </a>
    </div>

</div>
